.popup__container {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    align-items: flex-end;
}

@media screen and (max-width:596px) {

    .popup__container {
        row-gap: 16px;
    }
}