.profile__add-btn {
    max-width: 150px;
    max-height: 50px;
    padding: 23px 73px;
    margin: 0;
    border: 2px solid #fff;
    background: transparent;
    background-image: url(../../../images/addBtn.svg);
    background-color: #000;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.profile__add-btn:hover {
    opacity: 0.6;
}

@media screen and (max-width:596px) {

    .profile__add-btn {
        max-width: 282px;
        padding: 17px 150px;
    }
}