.profile__editBtn {
    width: 24px;
    height: 24px;
    background-image: url(../../../images/Edit\ Button.svg);
    background-color: #000;
}

.profile__editBtn:hover {
    opacity: 0.6;
    cursor: pointer;
  }

@media screen and (max-width:596px) {

    .profile__editBtn {
        width: 18px;
        height: 18px;
    }
}