.profile__title {
font-family: 'Inter', sans-serif;
text-overflow: ellipsis;
overflow: hidden;
white-space: nowrap;
font-style: normal;
font-weight: 500;
font-size: 42px;
line-height: 48px;
color:#fff;
margin: 0;
padding: 0;
}

@media screen and (max-width:596px) {

    .profile__title {
        font-size: 27px;
        line-height: 33px;
        text-align: center;
    }
}