.profile__addBtn {
    width: 22px;
    height: 22px;
    padding: 14px 64px;
    margin: 0;
    box-sizing: border-box;
    border: 2px solid #fff;
    align-self: flex-end;
    color:#fff;
    background-image: url(../../../images/addBtn.svg);
    background-color: #000;
    background-position: center;
    object-fit:scale-down;
    background-repeat: no-repeat;
    align-self: center;
}

.profile__addBtn:hover {
    opacity: 0.6;
    cursor: pointer;
  }

@media screen and (max-width:596px) {

    .profile__addBtn {
        width: 16px;
        height: 16px;
        padding: 17px 139px;
    }
}